body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif; 
	width: 960px;
	background: #ffffff;
	border-color: #dddddd;
	background-image: url(../images/cork-wallet.png);
	color: #777777;
}

.rightSide {
	float: right;
	text-align: right;
}

#container {
	background-color: #ffffff;
	border-color: #cccccc;
	color: #4aaaa5;
	padding: 20px;
	position: relative;
	margin: 0px;
}

#contact {
	color: #4aaaa5;
	background: #ffffff;
}

#markGildea {
	background-color: #4aaaa5;
	color: white;
	float: left;
}

#aboutMe {
	background-color: #4aaaa5;
	color: white;
}

