body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif; 
	width: 960px;
	background: #ffffff;
	border-color: #dddddd;
	background-image: url(../images/cork-wallet.png);
}

#container {
	background: #ffffff;
	border-color: #cccccc;
	color: #4aaaa5;
	padding: 20px;
	position: relative;
	left: 100px;
}

#aboutMe {
	color: #4aaaa5;
	background: #ffffff;
}